.degree {
padding-top: 10px;
    font-family: Georgia,Times,Times New Roman,serif;
    font-style: normal;
    font-variant: normal;
    font-size: 20px;
    font-weight: bold;
}

.research-topic {
	font-family: Georgia,Times,Times New Roman,serif;
    font-style: normal;
    font-variant: normal;
    font-size: 15px;
    font-weight: bold;
}